<pm:html>
	<pm:head>
		<title>@{typef_title}@ - Admin - Edit User Group</title>
	</pm:head>
	<pm:body>
		<h2>
			Edit User Group
		</h2>
		
		<pm:loop name="usergroup">
		<form action="@{typef_web_dir}@/admin/usergroups/edit" method="post">
			<input type="hidden" name="cmd" value="usergroup-update" />
			<input type="hidden" name="usergroupid" value="@{usergroupid}@" />
			<pm:include template="/admin/usergroups/usergroupform.inc.html" />
			<input type="submit" name="btn" value="Update" />
		</form>
		</pm:loop>
	</pm:body>
</pm:html>
